body {
  background-image: url('https://images.pexels.com/photos/2748756/pexels-photo-2748756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

a {
  font-weight: 500;
  color: rgb(137,138,76);
  text-decoration: inherit;
}

a:hover {
  color:greenyellow;
}

